@use "../variables" as *;

.description {
  font-size: $font-size-large;
  font-family: $font-stack-serif;
  font-style: italic;
  text-align: justify;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
