@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

$gap: $margin * 4;

.footer {
  margin-top: $margin * 8;
  background: var(--bg-content);

  @include breakpoint(desktop) {
    margin-top: $margin * 16;
  }
}

.footer__content {
  @include max-width;
  padding-top: $margin * 4;
  padding-bottom: $margin * 4;

  @include breakpoint(desktop) {
    display: flex;
    gap: $gap;
  }
}

.footer__image {
  display: none;
  margin-top: max($margin * -10, -10vw);
  width: 100%;
  max-width: calc((map.get($breakpoints, max) * 0.25) - $gap);

  @include breakpoint(desktop) {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: $margin * 2;

  @include breakpoint(tiny) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
    max-width: map.get($breakpoints, max) * 0.5;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__item {
  text-decoration: none;
  font-family: $font-stack-bold;
  font-weight: bold;

  @include hover-stack {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}
