<section class="layout layout--thin">
  <h1 class="heading">Affiliate links</h1>

  <p>
    Sommige links op onze website zijn zogenaamde <em>affiliate links</em>. Wanneer je iets koopt via zo'n link, kan het zijn dat wij mogelijk een kleine commissie verdienen op basis van jouw aankoop. Jij betaald hier niets extra voor. Deze commissies worden gebruikt om de website te onderhouden.
  </p>

  <p>
    Affiliate links worden alleen gebruikt voor diensten die waardevol en relevant zijn. Er word altijd aangegeven wanneer er mogelijk affiliate links op de pagina staan.
  </p>

  <p>
    Door gebruik te maken van affiliate links steun je onze website zonder dat jij hier iets voor hoeft te doen.
  </p>
</section>
