<% content_for :title, "Privacybeleid" %>

<section class="layout layout--thin">
  <h1 class="heading">Privacybeleid</h1>

  <p>
    GewoonBoeken.nl bewaard geen persoonlijke informatie wanneer je onze website bezoekt.
  </p>

  <h2 class="mt-4">Gebruik van cookies</h2>

  <p>
    Wij gebruiken cookies voor een paar doeleinde. Deze cookies zijn tijdelijk en bevatten geen persoonlijke details.
  </p>

  <ul>
    <li><code>_gewoon_boeken_session</code>: Dit is een cookie dat word gebruikt om tijdelijke informatie op te slaan terwijl je op de site rondkijkt. Dit kan bijvoorbeeld gebruikt worden om een bericht te laten zien op een pagina nadat je een andere pagina hebt bezocht. Dit bevat geen persoonlijke informatie.</li>
    <li><code>theme</code>: Dit cookie word gebruikt om jouw gekozen kleuren thema op te slaan wanneer je op de thema button in het menu klikt. Dit bevat geen persoonlijke informatie.</li>
  <ul>
</section>
