<%= link_to [:admin, source], class: "tile #{"tile--disabled" if source.disabled?}" do %>
  <%= image_tag rails_public_blob_url(source.logo.variant(:medium)) if source.logo.attached? %>

  <div><strong><%= source.name %></strong></div>
<% end %>
