<%= render "admin/layout", heading: "Sources" do %>
  <%= link_to "New source", new_admin_source_path, class: "button button--primary" %>

  <hr>

  <div class="tiles" id="sources">
    <% @sources.each do |source| %>
      <%= render source %>
    <% end %>
  </div>
<% end %>
